@using HW_17_09_23.Models;
@*
*@
@model AboutMe
@{
    Layout = "_AdminLayout";
}

<h1>List of Skills</h1>
<a href="/AboutMe/Create" class="btn btn-success">Create</a>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Percentage</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var skill in Model.Skills)
                {
                    <tr>
                        <td>@skill.Id</td>
                        <td>@skill.Name</td>
                        <td>@skill.Percentage</td>
                        <td>
                            <a href="/Skills/Edit/@skill.Id" class="btn btn-primary">Edit</a>
                            <form method="post" action="/Skills/Delete/@skill.Id">
                                <button type="submit" class="btn btn-warning">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section HeadEnd {
    <style>
        h1 {
            color: green;
        }
    </style>
}

@section BodyEnd {
    <script>
        //alert("Hello")
    </script>
} 