@*
*@
@{
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	@RenderSection("HeadEnd", required: false)
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>
	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/lib/jquery/jquery.min.js"></script>
	@RenderSection("BodyEnd", required: false)
</body>
</html>