@using HW_17_09_23.Models;
@*
*@
@model List<SkillName>
@{
    Layout = "_AdminLayout";
}

<h1>List of Skill Names</h1>
<a href="/SkillName/Create" class="btn btn-success">Create</a>
<a class="btn btn-success" href="@ViewData["Referer"]">Return</a>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var skillName in Model)
                {
                    <tr>
                        <td>@skillName.Id</td>
                        <td>
                            @if (skillName.Image != null)
                            {
                                <img class="table-image img-thumbnail" src="@skillName.Image.Src()" />
                            }
                        </td>
                        <td>@skillName.Name</td>
                        <td>
                            <a href="/SkillName/Edit/@skillName.Id" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <form method="post" action="/SkillName/Delete/@skillName.Id">
                                <button type="submit" class="btn btn-warning">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section HeadEnd {
    <style>
        h1 {
            color: green;
        }

        img.table-image {
            max-width: 150px;
        }
    </style>
}

@section BodyEnd {
    <script>
        //alert("Hello")
    </script>
} 